.contenedor{
    display: flex;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.contenedor-inf{
    background-color: #ffffff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    width: 320px;
    gap: 15px;    
}
.contenedor-cartas{
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    width: 200px;
}

h1{
    text-align: center;
    color: #2c3e50;
    margin-bottom: 20px;
}

.inf{
    padding: 12px 15px;
    border: 2px solid #e0e0e0;
    border-radius: 8px;
    outline: none;
    font-size: 16px;
}



/* botones */
.buttons{
    background-color: #3498db;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    
}
.btn-eliminar{
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 5px;
}

/* id */

#card{
    width: fit-content;
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
    text-align: center;
}
@media(max-width: 820px){
    .contenedor-card{
        display: flex;
        flex-direction: column;
    }
}